<h2>Products</h2>

<div *ngFor="let product of products" class="product-container">
  <!-- Product Name -->
  <div class="product-name-container">
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]"
      
    >
      <h3 class="product-name">{{ product.name }}</h3>
    </a>
  </div>

  <!-- Product Image -->
  <a
    [title]="product.name + ' details'"
    [routerLink]="['/products', product.id]"
  >
    <img class="product-image" src="{{ product.image }}" />
  </a>

  <!-- Product Price -->
  <p class="product-price">{{ product.price | currency }}</p>
  <br />
</div>
